@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heading {
  margin: 15% 0 2rem 0;
  font-size: 1.75rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  
}

label {
  display: inline-block;

}

#mark-input {
  width: 80%;
  height: 50vh;
  padding: 15px;

}

